body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  height: 90%;
}

button:focus {outline:0;}

.navbar-brand img {
  height: 20px;
}
        
.filtered-list .filter {
  margin-bottom: 21px;
}

.ui.basic.label {
  border: 0px;
  font: 14px "Century Gothic", Futura, sans-serif;
}

.warning {
    background-color: rgba(246, 117, 125, 0.5);
    color: rgba(246, 117, 125, 0.5);
    transition: color 5s;
}