body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

button:focus {outline:0;}

.navbar-brand img {
  height: 20px;
}
        
.filtered-list .filter {
  margin-bottom: 21px;
}

.ui.basic.label {
  border: 0px;
}